<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="DriversList.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="AjancyManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Driver.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,AjancyManager,CityManager,ProvinceManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EndMembership.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="AjancyManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FuelCardDiscard.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="AjancyManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FuelCardReplacement.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="AjancyManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Complaints.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="AjancyManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BusinessLicense.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,AjancyManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
