<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="TamperProofKey" value="=B77A5C561934E089"/>
  </appSettings>
  <connectionStrings>
    <add name="Kimia_AjancyConnection" connectionString="Data Source=.;Initial Catalog=Kimia_Ajancy;User ID=sa;"/>
    <!--<add name="Kimia_AjancyConnection" connectionString="Data Source=78.157.60.19;Initial Catalog=Kimia_Ajancy;User ID=Tax;Password=tax230" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <sessionState mode="InProc" timeout="60"/>
    <customErrors mode="Off" defaultRedirect="Error.aspx"/>
    <machineKey validationKey="E9EFD5E065AE440BC0D8AF0E31DB092FB26A743DC4F0284BF9FCC295233EFDA78CE6A1B40B393052E084FC33925D4DA2FA34D060B47265D5CDB57F945320D0B3" decryptionKey="2A26C0A4A70AF2D9F589951CC2F9438A19717FDB74075C6D0443A745B34BE26F" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" path="/" protection="All" defaultUrl="Default.aspx" loginUrl="Login.aspx" timeout="60" slidingExpiration="true"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="userControl" tagName="Date" src="~/UC/Date.ascx"/>
        <add tagPrefix="userControl" tagName="Time" src="~/UC/Time.ascx"/>
      </controls>
    </pages>
    <siteMap enabled="true">
      <providers>
        <add name="PortalSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="~/Web.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
</configuration>