<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="BusinessLicense.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FCDiscard.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FCReplacement.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SelfReplacement.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DiscardedFCs.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CertificationlessDrivers.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RegisterDriverCertification.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Insurance.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddFuelCard.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Driver.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TransferCarOwnerShip.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddCar.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
