<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="HandleComments.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HandleComplaints.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HandleEndMemberships.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HandleFuelCardDiscards.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HandleFuelCardReplacements.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="User.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserRolesStatus.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UsersList.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserRoles.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BusinessLicenseRequests.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="RegisterBusinessLicense.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="ActiveAjancies.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TransferDriver.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Person.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,CityManager,ProvinceManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
