<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="DriversReport.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,CityManager,ProvinceManager,Visitor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
   <location path="DriversReport2.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,CityManager,ProvinceManager,Visitor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FCExcel.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,CityManager,ProvinceManager,AcademyProvince,AcademyCity"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FCDiscardsRep.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,CityManager,ProvinceManager,AcademyProvince,AcademyCity"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FCReplacementsRep.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,CityManager,ProvinceManager,AcademyProvince,AcademyCity"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DiscardedFCsRep.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,CityManager,ProvinceManager,AcademyProvince,AcademyCity"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UnionReport.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="InsuranceRep.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,CityManager,ProvinceManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Ajancies.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin,ProvinceManager,CityManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
