<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="EditPassword.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadDocument.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="CityManager,ProvinceManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
